<h1>Meine Daten bearbeiten</h1>

<%= simple_form_for @user do |f| %>
	<%= f.input :email %>
  <%= f.input :password, :required => false %>
  <%= f.input :password_confirmation %>  
	<%= f.submit "Uebernehmen" %>
<% end %>