<!DOCTYPE html>
<html>
<head>
  <title>Webphusion</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="nav">
			<% if current_user%>
			<ul>
				<li><%= link_to t('nav.home'), root_path %></li>
				<li><%= link_to t('nav.edit_account'), edit_user_path(current_user) %></li>
				<li><%= link_to t('nav.logout'), logout_path %></li>
			<ul>
			<% else %>
				<ul>
					<li><%= link_to t('nav.login'), login_path %></li>
					<li><%= link_to t('nav.register'), new_user_path %></li>
				</ul>
			<% end %>
		</div>
		<div id="content">
			<div id="flash">
				<% flash.each do |name, msg| %>
			    <%= content_tag :div, msg, :id => "flash_#{name}" %>
			  <% end %>
		  </div>
			<%= yield %>
		</div>
	</div>

</body>
</html>
